/* Github location: https://github.com/Lussekatten/LexRecipe */

h1 {
    color: rgb(202, 34, 34);
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6vw;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
}

#nr-1 {
    background-color: #e7e4e4;
    height: auto;
    /*1vw = 1% of the size*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    /* text-align: center; */
    padding-left: 10px;
    vertical-align: middle;
    line-height: 3.8vw;
    font-size: 2vw;
}

#img-header {
    width: 70vw;
    height: auto;
}

.img-bottom {
    width: 30.8vw;
    padding: 1px;
}

body {
    background-color: rgb(120, 204, 230);
}

#content {
    background-color: white;
    margin: auto;
    width: 70vw;
    border: 1px solid rgb(127, 168, 127);
}

#main-content {
    background-color: white;
    margin: auto;
    width: 90%;
    /* border: 1px solid green; */
}

/* The code below comes into action when we use a viewport with 600 pixels or lower width 
In that case, the footer images will take 96% of the parent container width 
(they get bigger and are placed on top of eachother)*/
@media screen and (max-width: 600px) {
    .img-bottom {
        width: 98%;
        padding: 1px;
    }
    body {
        background-color: rgb(59, 168, 55);
    }
    #nr-1 {
        font-size: 13px;
    }
  }